p {
    margin: auto;
    text-align: justify;
    color: white;
}

body {
    background: url("gta0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

img {
    display: block;
    float: right;
}

body {
    margin: auto;
    font-family: 'Courier New';
    font-size: 1.3rem;
}

li {
    color: white;
}

.lila {
    background-color: indigo;
    margin-right: 200px;
}