p {
    margin: auto;
    text-align: justify;
}

body {
    background: url("gta0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

img {
    display: block;
    float: right;
}