h1 {
text-align: center;
}

img {
width: 240px;
display: flex;
justify-content: right;
margin: 20px;
} 

p {
/* font-size: 150%; */
margin-left: 2%;
text-align: justify;
font-weight: bolder;
margin: auto;
}

li {
font-size: 150%;
text-align:justify;
}

body {
width: 1000px;
margin: auto;
background-repeat: no-repeat;
background-size: cover;
background-image: url(gta.jpg);
/* background-size: 100%;  */
/* background-repeat: repeat-y; */
}

.wine-holly {
    display: block;
    margin: auto;
    /* width: 450px; */
}

a {
    text-decoration: none;
    color: aquamarine;
}

a:hover {
    color: chartreuse;
}

h2 {
    color: bisque;
}

.vilagos, li {
    color: rgb(0, 0, 0);
}

#bright {
    color: rgb(0, 0, 0);
}