h1 {
text-align: center;
}

img {
width: 240px;
/* display: flex; */
/* justify-content: right; */
/* margin: 20px; */
} 

p {
/* font-size: 150%; */
margin-left: 2%;
text-align: justify;
font-weight: bolder;
margin: auto;
}

li {
font-size: 150%;
text-align:justify;
}

body {
width: 1000px;
margin: auto;
background-color: purple;
}



a {
    text-decoration: none;
    color: rgb(11, 62, 245);
}

a:hover {
    color: rgb(208, 255, 0);
}

h1, h2 {
    color: orange;
}

p, li, table {
    color: #00ff00;
}